<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
    <!-- Adding jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Main JavaScript files for the template -->
    <script src="{{ "assets/js/jquery.scrollex.min.js" | relative_url }}"></script>
    <script src="{{ "assets/js/jquery.scrolly.min.js" | relative_url }}"></script>
    <script src="{{ "assets/js/browser.min.js" | relative_url }}"></script>
    <script src="{{ "assets/js/breakpoints.min.js" | relative_url }}"></script>
    <script src="{{ "assets/js/util.js" | relative_url }}"></script>
    <script src="{{ "assets/js/main.js" | relative_url }}"></script>
</head>
